#container {
    margin: 0 auto;
    max-width: 70%;
    background-color: rgb(181, 234, 216);
    
}

h1 {
    font-size: 20px;
    color: #000;
    text-decoration: none;
    text-align: center;
    background: #dda0dd;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

p {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.95rem;

}


footer {
    padding-top: 20rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: center;
}